.citySearch {
  font-size: 1.0rem;
  color: black;
  padding: 1vh;
  margin-bottom: 4vh;
}

.input_field {
  background: #fff;
  width: 24rem;
  height: 3rem;
	box-shadow: 0 2ex 4ex 0 rgba(0, 0, 0, .1);
	border: 0;
  outline: 0;
	padding: 3ex 2ex;
  position: relative;
  font-size: 1.4rem;
}

.btn {
  cursor: pointer; outline: none; border: none;
  display: block; min-width: 10%;
  font-size: 2ex;
  text-transform: uppercase;
  margin: 2ex auto; padding: 2ex;
  background-color: #91A695;
  color: #FFF;
  box-shadow: 0 0 2ex .2ex rgba(0, 0, 0, .1);
	border-radius: .1ex;
  transition: all 200ms ease-in;
  opacity: 0.9;
  position: relative;
  top: -12ex;
  left: 24ex;
}

.btn:hover {
  opacity: 1;
}
