h1 {
  font-size: 8vh;
  margin: 4rem auto;
}

.icon {
  width: 48vh;
  margin: 0 auto;
}

.current_container {
  align-self: center;
  color: #FFF;
  background-color: #898B58;
  width: 68vh;
  margin: 0 auto;
  box-shadow: .2rem .4rem 2rem -.2rem #455530;
}

.current_head, .week_head {
  color: #FFF;
  padding-top: 2rem;
}

.condition {
  padding-bottom: 3rem;
  font-size: 3rem;
}
